@model WebApplication2.Models.GetIdGroups

<h4>Id Users</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

</dl>
@Html.ActionLink("Back to List", "LocalUsers")
